.video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;        /* Très important */
  z-index: -1;      
}

.game-layout {
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh; /* IMPORTANT */
    overflow: hidden; /* EMPÊCHE LE SCROLL DANS LE LAYOUT */
}

.game-chat {
    bottom: 2vh;
    right: 30vw ;
    position: absolute; 
    z-index: 2;
    transition: transform ease 1500ms;

}

.game-chat:hover {
  transform: translate(0, -20px);
}


.info {
    display: flex;
    justify-content:space-between;
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
}

.elem-info-opp {
    display: flex;
    justify-content: right;
}

.elem-info-self {
    display: flex;
    justify-content: flex-start;
}

.deckOpp {
    display: flex;
    justify-content: center;
    gap : 1em;
    border-radius: 25px;
    background-color: rgb(222, 238, 238, 0.05);
    margin : 5px 5vw;
    
}

.time {
    display: flex;
    justify-content: flex-end;
}

.deckBoard {
    display: flex;
    justify-content: center;
    gap : 1em;
    border-radius: 25px;
    background-color: rgb(222, 238, 238, 0.05);
    margin : 5px 5vw;
}

.deckHand {
    display: flex;
    justify-content: center;
    gap : 1em;
}

.self-container {
    display: flex;
    justify-content: center;
    gap : 1em;
    justify-items: end;
    margin-top: auto;  /* <-- pousser vers le bas */
    background-color: rgb(222, 238, 238, 0.05);
}

.buttonControl {
    display: flex;
    flex-direction: column;
}
