@import "tailwindcss";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  min-height: 200px;
  width: 10vw;  
  height: 30vh; 
}

.badge {
  position: absolute;
  top: -8px;                 
  right: -8px;
  background-color: red;
  color: white;
  padding: 4px 8px;
  font-size: 20px;
  border-radius: 20px;    
  font-weight: bold;
}

.card {
  border: 1px solid #ccc; 
  border-radius: 8px;
  padding: 10px;
}

.card img {
  width: 100%;
  border-radius: 10px; 
  height: auto;  
}

.card p {
  text-align: center;
}

.name {
  font: bolder;
}

.state {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}