@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');


.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 170px;
  min-width: 100px;
  height: 240px;
  min-height: 200px;
  background: linear-gradient(145deg, #3a3a3a, #2c2c2c);
  border-radius: 16px;
  padding: 12px;
  transition: transform ease 500ms;
  box-shadow: 0 8px 18px rgba(0,0,0,0.35);
}

.container:hover {
  transform: translate(0, -10px);
}

.container:active {
  border: 3px solid red;
}

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background: linear-gradient(45deg, #f04545, #c70000);
  color: white;
  padding: 6px 12px;
  font-size: 15px;
  border-radius: 50px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(255,0,0,0.4);
}

.card {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* <-- magie ici */
  height: 100%;
}

.card img {
  height: 100px;  
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
  width: 130px; 
}

.card p {
  text-align: center;
  margin-top: 8px;
  font-weight: 600;
  color: white;
}

.name {
  font-weight: 800;
  font-size: 30px;
  margin-top: 4px
}

.description {
  font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
  background: rgba(255,255,255,0.1);
  margin: 0px 10px 0px 10px;

}

.state {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  border-radius: 10px;
  font-weight: bold;
}

.attack {
  background-color: #ff8c00;
  padding: 4px 8px;
  border-radius: 6px;
}

.cost {
  background-color: #0066ff;
  padding: 4px 8px;
  border-radius: 6px;
}

.ui-comp {
    position: absolute;
    margin-left:-10vw;
    margin-top:-10vh;
    height: 10vh;
    width: 10vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 0;
}
