@import "tailwindcss";

@font-face {
    font-family: "TransitWeb-Bold W03 Regular";
    src: url("https://db.onlinewebfonts.com/t/731dca6235df7181ef516af57ba62b5d.eot");
    src: url("https://db.onlinewebfonts.com/t/731dca6235df7181ef516af57ba62b5d.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/731dca6235df7181ef516af57ba62b5d.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/731dca6235df7181ef516af57ba62b5d.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/731dca6235df7181ef516af57ba62b5d.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/731dca6235df7181ef516af57ba62b5d.svg#TransitWeb-Bold W03 Regular")format("svg");
}

html {
    font-family: "TransitWeb-Bold W03 Regular", "Arial", sans-serif;
}

.video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;    
  z-index: -1;      
}

